h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 3px solid #4d4d4d;
  }
  
  .single-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
  }
  
  .single-book-cover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .single-book-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .single-book-author {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .single-book-year,
  .single-book-publisher,
  .single-book-category {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .single-book-summary {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 50px;
  }
  
  @media (max-width: 768px) {
    .single-book {
      width: 90%;
    }
  
    .single-book-cover {
      width: 150px;
      height: 225px;
      margin-bottom: 10px;
    }
  
    .single-book-title {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
  
    .single-book-author {
      font-size: 1rem;
      margin-bottom: 5px;
    }
  
    .single-book-year,
    .single-book-publisher,
    .single-book-category {
      font-size: 1rem;
      margin-bottom: 5px;
    }
  
    .single-book-summary {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }

  .comments {
    margin-top: 2rem;
  }
  
  .add-comment-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  
  .add-comment-input {
    flex: 1;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
  }
  
  .add-comment-button {
    font-size: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .single-comment {
    margin-bottom: 1rem;
  }
  
  .comment-user {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .comment-content {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .delete-comment-button {
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #4d4d4d;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 3px solid #4d4d4d;
  }